/* Basic Style */
.app {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.preview {
  width: 500px;
  margin: 0 auto 16px;
  display: block;
  text-align: right;
}

.preview__img {
  width: 100%;
}

.preview__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .preview {
    text-align: center;
  }

}

.todo-list {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-list__input,
.task-list__label,
.new-task__text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__text-wrapper {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task-list__item,
.title {
  list-style: none;
}

.task-list__checkbox,
.task-list__input,
.new-task__text,
.btn {
  box-sizing: border-box;
  outline: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.title,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-list__input,
.new-task__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-list__input:focus,
.new-task__text:focus {
  color: #333;
}

/* New Task */
.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task__text {
  width: 318px;
}

.new-task__btn:hover {
  color: #0fc57c;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__checkbox {
  margin: 0 10px;
}

.task-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__input {
  width: 226px;
}

.task-list__delete:hover {
  color: #cf2323;
}

.task-list__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-list__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks__list .task-list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__input {
  display: none;
}

.editMode .task-list__input {
  display: inline-block;
  width: 224px;
}

.editMode .task-list__label {
  display: none;
}